@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Roboto', sans-seri;
    font-size: 15px;
    overflow-x: hidden;
    background-color: #ffffff;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media only screen and (max-width: 725px) {
    .main-container{
        min-width: 90%;
    }
}
header{
    color: #181B52;
    background-color: #ede8e5;
    max-height: 15%;
    position: -webkit-sticky;
}

nav{
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.left-navbar{
    width:25%;
    font-size: larger;
    font-weight: 900;
}

.left-navbar img{
    width: 64px;
    margin-right: 0.5rem;
    height:64px;
}

.middle-search{
    padding:0.5rem;
    width: 50%;
    outline: 2px solid black;
    border-radius: 12px;
    background-color: #ffffff;
}

.middle-search input{
    width:90%;
    border: none;
    background: none;
    outline: none;
    font-size: larger;
}

.middle-search img{
    width: 16px;
    height: 16px;
}

.right-navbar{
    width: 25%;
    justify-content: space-evenly;
}

button{
    border: none;
    outline: none;
    background: none;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.help-button{
    padding:0.3rem;
    width: 30%;
    font-size: larger;
    background-color: white;
    transition: all ease-in-out 0.5s;
}

.help-button:hover{
    background-color: #9E58DB;
    color: white;
}

.login-button{
    width: 45%;
    font-size: larger;
    background-color: #9E58DB;
    color: white;
    padding: 0.3rem;
    transition: all ease-in-out 0.5s;
}

.login-button:hover{
    background-color: #ffffff;
    color: black;
}

.lower-nav{
    font-size: larger;
    font-weight: bolder;
}
.lower-nav button{
    margin: 0.5rem;
    color: #181B52;
    transition: all ease-in-out 0.5s;
}

.lower-nav button:hover{
    border: 1px solid #9E58DB;
    border-bottom: none;
    border-top: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left-color: #9E58DB;
    border-right-color: #9E58DB;
}

.left-section{
    width: 25%;
    justify-content: space-evenly;
}
.right-section img{
    width: 22px;
    height: 22px;
    color: #9E58DB;
    cursor: pointer;
}

.middle-section{
    width: 50%;
    justify-content: space-evenly;
}

.right-section{
    width: 25%;
    justify-content: space-evenly;
}

.carousel-books{
    position: relative;
    width:100%;
    color: black;
    border-radius: 12px;
    background-color: #ede8e5;
    justify-content: space-evenly;
}
.left-button , .right-button{
    width: max-content;
    margin: 0;
    display: none;
    position: absolute;
    padding: 0;
}
.left-button{
    left: 0;
}
.right-button{
    right: 0;
}
.left-button img, .right-button img{
    border-radius: 50%;
    width: 64px;
    margin: 1px auto;
    padding: 0;
}
.main-img{
    width: 100%;
    height: 420px;
}

.container-type{
    width:100%;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #181B52;
}

.container-type h1{
    font-size: larger;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
li{
    width: 15%;
    outline:2px solid #181B52;
    margin-right: 1.4rem;
}
ul img{
    width:100%;
    height: 10rem;
}
.price-add{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li p{
    text-align:center;
}

.add-to-cart{
    width: 40%;
    background-color: #9E58DB;
    color: #181B52;
    border-radius: 12px;
}
